body {
  font-family: Verdana, sans-serif;
}

article {
  font-size: 12px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  font-style: italic;
}

article {
  border-style: dotted;
  border-width: 1px;
  border-radius: 15px;
  margin: 40px 0px 20px 0px;
  padding: 5px;

/*
  transition: width 2s, height 2s, transform 3s;
  -moz-transition: -moz-transform 3s ease-in-out;
*/
  transition: 1s ease-in-out;
  -webkit-transition: -webkit-transform 1s ease-in-out;
}

article:hover {
  border-style: solid;

  transform: rotateY(40deg) rotateZ(5deg);
  -webkit-transform: rotateY(40deg) rotateZ(5deg);
/*
  transition: rotate(5deg);
  -moz-transition: rotate(5deg);
*/
}

article h1 {
  font-size: 25px;
}

nav a {
  display: block;
}

body > footer {
  margin: 40px 0px 0px 0px;
  background-color: black;
  color: white;
}

article footer {
  background-color: #DDDDDD;
}

p::first-letter {
  font-size: 20px;
}

div::first-line {
  font-style: italic;
}

time[datetime^="2009"] {
  color: blue;
}
